<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insis作业查重系统</title>
    <!-- 引入bootstrapCSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- 引入初始化样式文件 -->
    <link rel="stylesheet" href="/static/css/base.css">
    <!-- 引入公共样式的样式文件 -->
    <link rel="stylesheet" href="/static/css/common.css">
    <!-- 引入favicon图标 -->
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <!-- 引入主体模块样式文件 -->
    <link rel="stylesheet" href="/static/css/index.css">
    <!-- MQQ add -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

</head>
<body>
<!-- 快捷导航模块 -->
<section class="shortcut">
    <div class="w">
        <div class="fl">
            <ul>
                <li>欢迎使用查重系统！</li>
            </ul>
        </div>
        <div class="fr">
            <a href="http://insis.bjtu.edu.cn/index.html" class="style_blue">insis主页</a>
        </div>
    </div>
</section>

<!-- 上传文件夹模块 -->
<header class="header w">
    <!-- 上传模块 -->
    <div class="shangchuan">
        <form method="post" enctype="multipart/form-data" action="/upload/">
            {% csrf_token %}
            <label>上传文件</label>
            <input type="file" name="cmsFile" multiple="multiple" id="exampleFormControlFile1">
            <label>任务名</label>
            <input type="text" name="cmsTaskName" id="cmsTaskName">
            <button type="submit" class="busubmit">提交</button>
        </form>
    </div>
    <!-- logo模块 -->
    <div class="logo">
        <h1>
            <a href="pass" title="INSIS作业查重系统">作业查重系统</a>
        </h1>
    </div>


</header>

<!-- 菜单模块制作 -->
<nav class="nav">
    <div class="w">
        <div class="dropdown">
            <div class="caidan"></div>
            <div class="func">
                <ul>
                    <li class="options"></li>
                    <li class="options">
                        <a href="/index">任务</a>
                    </li>
                    <li class="options">
                        <a href="#">检查结果</a>
                    </li>
                    <li class="options">
                        <a href="#">重复率拓扑</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- 主题模块 -->
<div class="w">
    <div class="main">
        <h5>任务列表</h5>
        <table id="task_table">
            <thead>
            <tr>
                <th scope="col">任务号</th>
                <th scope="col">任务名</th>
                <th scope="col">任务提交时间</th>
                <th scope="col">任务完成时间</th>
                <th scope="col">运行状态</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>

<script type="text/javascript">

    let cmsTaskStatus = {
        0: '创建，未运行',
        1: '判断中',
        2: '已完成'
    }

    function waitting() {
        alert('请等待')
    }

    function runTask(cmsTaskId) {

        let url = '/run/task';
        $.ajax({
            url: url,
            data: {cmsTaskId: cmsTaskId},
            type: "GET",
            success: function (resp) {
                console.log(resp)
                alert('任务完成,请刷新页面查看结果')
            }
        })
        alert('请求已发出')
        //this.window.href = '/index'
    }

    function resultTask(cmsTaskId) {
        // alert(cmsTaskId)
        console.log('/result?cmsTaskId=' + cmsTaskId)
        this.window.location.href = '/result?cmsTaskId=' + cmsTaskId
    }

    function initTable() {
        $('#task_table').DataTable({
                orderMulti: true,
                columns: [
                    {data: 'cmsTaskId'},
                    {data: 'cmsTaskName'},
                    {data: 'cmsTaskStart'},
                    {data: 'cmsTaskFinish'},
                    {data: 'cmsTaskStatus'},
                    {
                        data: null,
                        render: function (data, type, row, meta) {
                            let html = "<button style='width: 65px;height: 20px; outline: 0' onclick=' runTask(" + row.cmsTaskId + ")  '> run </button>"
                            console.log(row.cmsTaskStatus)
                            if (row.cmsTaskStatus === cmsTaskStatus["1"]) {
                                html = "<button style='width: 65px;height: 20px; outline: 0' onclick='waitting()'> waitting </button>"
                            } else if (row.cmsTaskStatus === cmsTaskStatus["2"]) {
                                html = "<button style='width: 65px;height: 20px; outline: 0' onclick='resultTask(" + row.cmsTaskId + ") '> result </button>"
                            }
                            return html
                        }
                    }
                ],
            }
        );
    }

    function fleshTable(cur_data) {
        let table = $('#task_table').DataTable();
        table.clear();
        table.rows.add(cur_data)
        table.draw()
    }

    function timeFormat(sql_time) {
        let local_time = ''
        return local_time
    }


    function transformData(response) {
        let items = JSON.parse(response);
        let result_list = []
        items.forEach(
            (item) => {
                let result_item = {
                    cmsTaskId: item.pk,
                    cmsTaskName: item.fields.cmsTaskName,
                    cmsTaskStart: item.fields.cmsTaskStart,
                    cmsTaskFinish: item.fields.cmsTaskFinish,
                    cmsTaskStatus: cmsTaskStatus[parseInt(item.fields.cmsTaskStatus)]
                }
                result_list.push(result_item);
            }
        )
        return result_list;
    }

    function getDataAndShow() {
        let url = '/tasks';
        $.ajax({
            url: url,
            async: true,
            data: {},
            type: "GET",
            success: function (resp) {
                //console.log(userid_name_map)
                console.log(resp)
                let items = transformData(resp);
                fleshTable(items)

            }
        })
    }


    function init() {
        initTable()
        getDataAndShow()
    }

    init();
</script>
</html>

